html {
    width: 100%;
    height: 90%;
}

body {
    width: 99%;
    height: 99%;
    background-image: url("connect.jpg");
    background-position: center;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.user {
    display: flex;
    margin: auto;
    justify-content: center;
}

.new_user {
    display: flex;
    margin: auto;
    justify-content: center;
}

.error {
    margin-left: 20px;
    color: white;
}
