body {
    background-image: url('wpp.jpg');
    display: flex;
    width: auto;
    height: 99%;
}

.playing {
    width: 50%;
}

.bloc1 {
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 100px;
    margin-left: 10px;
}

.bloc1::-webkit-scrollbar {
    background-color: transparent;
}

.bloc {
    flex-direction: column
}


.ajout {
    margin-top: 20px;
    display: flex;
}

h1 {
    color: white;
    font-size: 60px;
    margin: 0;
    margin-left: 60%;
    height: auto;
    position: absolute;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

li {
    list-style-type: none; 
    margin-bottom: 10px;
}

.url {
    color: white;
    font-size: 20px;
    display: flex;
}

.dicon, .play, .pause {
    margin-left: 10px;
    width: 40px;
    height: 30px;
}

.logout {
    width: 40px;
    height: 40px;
    margin-left: 96%;
    position: absolute;
}

a {
    text-decoration: none;
}

.name {
    color: white;
    font-size: 20px;
    position: absolute;
    margin-left: 46%;
}